commit.time
commit.default
target.mk
.*.sw*

*.Rout.pdf
*.html

## TeX stuff
*.log
*.aux
.*.aux
*.blg
*.bbl
*.nav
*.snm
*.toc
*.vrb

## R stuff
*out
*.RData
*.Rlog
*.r
.Rhistory

*.wrapR.*

local.mk

dotdir/
clonedir/

*.makestuff

## emacs backups
*~
\#*
.#*
